ul, li, p { padding: 0; margin: 0; font: inherit; }
slot, .top:not(.open), ul:not(.top) { display: none; }

ul {
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 2px 2px 3px #888;
}

.top {
  position: fixed; 
  font-size: .65rem;
  user-select: none;
  z-index: 9999999;
}

li > p:not(:empty) { margin: 0 1em; }
li.disabled { color: #bbb; }
li.split { border-top: 1px solid #bbb; padding: 0; margin: .3em; }
li:not(.disabled):hover { background-color: #bbb; }
li:hover > ul { display: block; }
li {
  margin: .2em 0;
  padding: .5em 1em;
  display: flex;
  justify-content: space-between;
  text-align: left;
  position: relative;
  cursor: default;
  color: #000;
}

li.group::after {
  content: '\25b6';
  position: absolute;
  font-size: .65em;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

ul:not(.top) {
  position: absolute;
  left: 100%; top: -.25em;
}