ul,
li {
  padding: 0;
  margin: 0;
  font: inherit;
}
slot,
li.split .icon {
  display: none;
}
.top:not(.open),
ul:not(.top) {
  visibility: hidden;
}

ul {
  border: var(--border, 1px solid #bbb);
  background: var(--bg, #fff);
  box-shadow: var(--box-shadow, 2px 2px 3px #888);
  transition: background 0.6s;
  z-index: 9999999;
}

.top {
  position: fixed;
  font-size: var(--font-size, 0.65rem);
  user-select: none;
}

.icon.left {
  left: 1em;
  transform: translate(-50%, -50%);
}
.icon.right {
  right: 1em;
  transform: translate(50%, -50%);
}
.icon {
  max-width: 1em;
  max-height: 1em;
  position: absolute;
  top: 50%;
  line-height: 0;
}

li > p:not(:empty) {
  margin: 0 1em;
  white-space: nowrap;
}
li.disabled {
  color: var(--disabled-fg, #bbb);
}
li.split {
  border-top: var(--split-border, var(--border, 1px solid #bbb));
  padding: 0;
  margin: 0.3em;
}
li.split:first-child,
li.split:last-child,
li.split + li.split {
  display: none;
}
li.hover:not(.disabed):not(.split) {
  background: var(--hover-item-bg, #bbb);
}
.top.open li.hover > ul {
  visibility: visible;
}
li {
  margin: 0.2em 0;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  text-align: left;
  position: relative;
  cursor: default;
  color: var(--fg, #000);
}

li.group::after {
  content: '\25b6';
  position: absolute;
  font-size: 0.65em;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

ul:not(.top) {
  position: absolute;
  left: 100%;
  top: -0.25em;
}

ul.nestle {
  left: 0.5em;
  top: 100%;
}
